<%- include('partials/header') -%>
<div class="container">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <div>
            <p><strong>User Name</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-5 mt-5">
  <h2>Add a post</h2>
    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">Caption</label>
        <textarea class="form-control" id="caption" name="caption"></textarea>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        
    </form>
  </div>

</div>
                        
        
<% for(var i=0; i<posts.length; i++) {%>
<div class="row my-5  justify-content-around">
  <div class="col-8 col-lg-4 col-xl-3">

      
      
      <div class="card">
        <ul class="row justify-content-center list-unstyled">
          <li class="col-6  mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        </ul>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      
      
      
    </div>
  </div>
<% } %> 
    
  
  <div class="row justify-content-center mt-5">
    <a class="btn btn-primary" href="/feed">Return to Feed</a>
  </div> 

<%- include('partials/footer') -%>

        
        
      

      
         