<%- include('partials/header') -%>
<div class="d-flex align-items-center justify-content-center my-3">
    <div class="card w-50 p-3 ">
        <h2>Class Available</h2>
        <ul>
        <%todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'>  </span>
            </li>
        <% }) %>    
        </ul>
        <h2><%= user.userName %> has <%= left %> Class Available.</h2>
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
        
        <script src="js/main.js"></script>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center my-3">
    <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div> 
<div class="d-flex align-items-center justify-content-center my-3">
    <a class="btn btn-primary" href="/profile">Return to Profile</a>
</div>

<%- include('partials/footer') -%>

        
                


        
    
